.section {
    padding: 20px 32px;
    background-color: var(--color-black);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .collapse {
    color: var(--color-primary);
    cursor: pointer;
    font-weight: 600;
  }
  
  .grid {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .tabs {
    margin-top: 12px;
    margin-bottom: 20px;
  }
  
  .tab {
    color: var(--color-white) !important;
    text-transform: none !important;
    font-family: "Poppins", sans-serif !important;
    font-size: 14px !important;
    min-width: auto !important;
    padding-left: 0 !important;
    padding-right: 24px !important;
  }
  
  .tab[aria-selected="true"] {
    color: var(--color-primary) !important;
  }